*, html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

body{
	background: url("./../images/background5.jpg") top center no-repeat fixed #AEB132;
	overflow-y: scroll;
}

#container {
	margin: 0 auto;
	min-width: 960px;
	width: 70%;
	min-height: 900px;
	height: 100%;
	background-color: #40be80;
	box-shadow: 5px;
	box-shadow: 0 0 100px rgba(1,1,1,1);
}

#header {
	height: 100px;
	background-color: #007e40;
}

#logo-container{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;;
	height: 90px;
	width: 19.3%;
	//background-color: #2ecc40;
	background: url("./../images/bigpanda.svg") 50% 10% no-repeat;
	background-size: 100px;

}

#header-container{
	clear: both;
	display: inline-block;
	margin: 5px;
	height: 90px;
	width: 79.1%;
	//background-color: #2ecc40;
	color: white;
}
#header-container > h3{
		text-align: right;
		margin-top: 15px;
		padding-right: 20px;
}
#header-container > h4{
	text-align: right;
	margin-top: 0;
	padding-right: 20px;
	font-style: italic;
	quotes: "\00ab" "\00bb";
}

#content{
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 300px;
	width: 60%;
	min-height: 755px;
	height: 100%;
	background-color: #a0dfbf;
	border: 1px solid gray;
	//box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


#content > .news{
	margin: 20px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: justify;
	border-bottom: 1px solid #40be80;
	padding-bottom: 5px;

}

#content > h4 {
	padding: 5px;
	padding-left: 20px;
	text-align: left;
	background-color: #00a855;
}

#leftbar{
	float: left;
	margin: 5px;
	//min-width: 90px;
	width: 19.0%;
	min-height: 755px;
	height: 100%;
	border: 1px solid gray;
	background-color: #a0dfbf;
	opacity: 0.9;
	//box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#leftbar > h4{
	padding: 5px;
	text-align: center;
	background-color: #00a855;
}

#leftbar > ol{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	list-style-type: none;
	text-align: left;
	font-size: 14px;
}

#leftbar > ol > li{
	padding: 5px;
	border-bottom: 1px solid #40be80;
}

#leftbar > ol > li > #linked{
	//color: white;
	font-weight: bold;
}

#leftbar > ol > li > a{
	color: black;
	text-decoration: none;
}

#leftbar > ol > li > a:hover{
	color: white;
	font-weight: bold;
}

.first-news{
	margin: 15px;
	border-bottom: 1px solid #40be80;
	text-align: justify;
	padding-bottom: 5px;
}

#rightbar{
	margin: 5px;
	float: right;
	width: 19.0%;
	min-width: 100px;
	min-height: 755px;
	height: 100%;
	border: 1px solid gray;
	background-color: #a0dfbf;
	opacity: 0.9;
	//box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#informer-wheater {
	width: 181px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}

#informer-money {
	width: 170px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}


#rightbar > h4 {
	padding: 5px;
	text-align: center;
	background-color: #00a855;
}

#rightbar > #contacts{
	margin-top: 10px;
	list-style-type: none;
	text-align: center;
	font-size: 32px;
}

#rightbar > #contacts > li > a{
	color: black;
}

#rightbar > #contacts > li > a:hover{
	color: white;
}

#footer {
	height: 75px;
	background-color: #007e40;
	clear: both;
}

#footer > #html5-logo{
	float: left;
	height: 75px;
	width: 35px;
	background: url("./../images/html-5.svg") 50% 10% no-repeat;
	background-size: 30px;
	margin-top: 10px;
	margin-left: 60px;
}

#footer > #css3-logo{
	float: left;
	height: 75px;
	width: 35px;
	background: url("./../images/css-3.svg") 10% 10% no-repeat;
	background-size: 30px;
	margin-top: 10px;
}

#footer > #copyright {
	font-size: 13px;
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
}

#footer > #copyright > strong > a {
	color: black;
	text-decoration: none;
}

#footer > #copyright > strong > a:hover {
	color: white;
}

